{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="{% static 'messenger/images/iconSquare.png' %}" />
  <link rel="stylesheet" href="{% static 'messenger/colors.css' %}" />
  <link rel="stylesheet" href="{% static 'messenger/base.css' %}" />
  <title>{% block title %} {% endblock title %}</title>
  {% block head %} {% endblock head %}
</head>

<body>
  <header>
    <nav>
      <div class="logo">
        <a href="{% url 'messenger:index' %}">
          <img src="{% static 'messenger/images/logo.svg' %}" alt="logo">
          <h4>Potato Messenger</h4>
        </a>
      </div>
      <div class="links">
        <ul>
          {% block links %} {% endblock links %}
        </ul>
      </div>
    </nav>
    <div class="dropDown">V</div>
  </header>
  <main>{% block main %} {% endblock main %}</main>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="{% static 'messenger/dropDown.js' %}"></script>
  {% block scripts %} {% endblock scripts %}
</body>

</html>