{% extends 'messenger/base.html' %}
{% load static %}

{% block title %}
    Chats
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'messenger/chatpage.css' %}">
{% endblock head %}

{% block links %}
    <li><a href="{% url 'messenger:account' %}">Account</a></li>
    <li><a href="{% url 'messenger:logout' %}">Logout</a></li>
{% endblock links %}

{% block main %}
    <div class="leftWrapper">
        <div class="left">
            <h1>Chats</h1>
            <div class="newChat">Add New Chat</div>
            <div class="search">
                <input type="text" id="searchChat" oninput="searchKnownChats()">
                <div class="searchButton">Search</div>
            </div>
            {% for chatname in chats %}
                <div class="chat {% if chatname ==  chats.0 %}chatFocus{% endif %}">{{ chatname }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="rightWrapper">
        <div class="right">
            <div class="chatNameWrapper">
                <div class="chatName">
                    {{ chats.0 }}
                </div>
            </div>
            <div class="chatBrowserWrapper">
                <div class="chatBrowser">
                    {% for message in messages %}
                        <div class="chatBubbleWrapper">
                            <div class="chatBubble {% if message.sender == request.user %}rightChat{% endif %}">
                                {{ message.text }}
                            </div>
                        </div>
                        {% if message.sender == request.user %}
                            <div style="text-align: right">
                                {{ message.time }}
                            </div>
                        {% else %}
                            {{ message.time }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="chatFooterWrapper">
                <div class="chatFooter">
                    <input type="text" id="messageInput">
                    <div class="messageSend">Send</div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'messenger/chatPageHandler.js' %}"></script>
{% endblock main %}
