{% load static %}
{% load webpush_notifications %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="service-worker-js" content="/webpush/service-worker.js">
    <meta name="django-webpush-vapid-key" content="{{ vapid_key }}">
    <link rel="shortcut icon" type="image/png" href="{% static 'messenger/images/iconSquare.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'messenger/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'messenger/index.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chat Application built with Django. Author:https://github.com/advin4603">
    <title>Potato Messenger</title>
</head>

<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'messenger:chatpage' %}">Chats</a></li>
            <li><a href="{% url 'messenger:account' %}">Account</a></li>
            <li><a href="{% url 'messenger:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'messenger:login' %}">Login</a></li>
            <li><a href="{% url 'messenger:signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>

    <h1>
        <img src="{% static 'messenger/images/logo.svg' %}" alt="logo">
        Potato Messenger
    </h1>
    <div class="webpushButtonWrapper">
        {% webpush_button %}
    </div>
    <script src="{% static 'messenger/webPushEnabler.js' %}"></script>
</body>

</html>