<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reset Potato Messenger Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body
    style="background-color: rgb(255, 210, 173);padding:30px;border:solid;font-color: rgb(32, 32, 32);border-color:rgb(32, 32, 32);">
    <center>
        <table align="center" style="padding:30px 15px;">
            <td align="center" style="border:solid; padding:15px;border-color: rgb(32, 32, 32); font-size:25px;">
                <strong>
                    Potato Messenger
                </strong>
            </td>
        </table>
    </center>

    </header>
    {% autoescape off %}
    <table style="color: rgb(32, 32, 32);padding:10px; border:none;">
        Hello {{ user.first_name }},
    </table>

    <table style="color: rgb(32, 32, 32);padding:10px;border:none;">
        We received a request to reset the password for your account for this email address. To initiate the
        password reset process for your account, click the link below.
    </table>

    <table align="center" style="color: rgb(32, 32, 32);padding:10px;border:none;">
        <center>
            <td align="center" style="padding:10px;">
                <a style="text-decoration:none;color:rgb(255, 210, 173);border:solid; padding:15px;border-color: rgb(32, 32, 32);background-color:rgb(32, 32, 32);"
                    href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    Change Password
                </a>
            </td>
        </center>
    </table>

    <table style="color: rgb(32, 32, 32);padding:10px;border:none;">
        This link can only be used once. If you need to reset your password again, please click the button belowand
        request another reset.
    </table>

    <table align="center" style="color: rgb(32, 32, 32);padding:10px;border:none;">
        <center>
            <td align="center" style="padding:10px;">
                <a style="text-decoration:none;color:rgb(255, 210, 173);border:solid; padding:15px;border-color: rgb(32, 32, 32);background-color:rgb(32, 32, 32);"
                    href="{{ protocol }}://{{ domain }}{% url 'reset_password' %}">
                    Request Reset
                </a>
            </td>
        </center>
    </table>

    <table style="color: rgb(32, 32, 32);padding:10px;border:none;">
        If you did not make this request, you can simply ignore this email.
    </table>

    <table style="color: rgb(32, 32, 32);padding:10px;border:none;">
        Your username, in case you've forgotten: {{ user.username }}
    </table>

    {% endautoescape %}
</body>

</html>