{% extends 'messenger/base.html' %}
{% load static %}

{% block title %}
    Sign Up
{% endblock title %}


{% block head %}
    <link rel="stylesheet" href="{% static 'messenger/auth.css' %}">
{% endblock head %}


{% block links %}
    <li><a href="{% url 'messenger:login' %}">Login</a></li>
{% endblock links %}
    

{% block main %}
    <div class="contentWrapper">
        <div class="content">
            <h1>
                Sign Up
            </h1>
            <div class="formWrapper">
                <form method="post">
                    {% csrf_token %}
                    <div class="errorWrapper bottomMargin">
                        {{ form_1.non_field_errors }}
                    </div>
                    <div class="errorWrapper bottomMargin">
                        {{ form_2.non_field_errors }}
                    </div>
                    {% for field in form_1 %}
                        <div class="errorWrapper">
                            {{ field.errors }}
                        </div>
                        <div class="fieldWrapper">
                            <div class="labelWrapper">
                                {{ field.label_tag }}
                            </div>
                            <div class="inputWrapper">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    {% for field in form_2 %}
                        <div class="errorWrapper">
                            {{ field.errors }}
                        </div>
                        <div class="fieldWrapper">
                            <div class="labelWrapper">
                                {{ field.label_tag }}
                            </div>
                            <div class="inputWrapper">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="submitWrapper">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}
